@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

.container {
    width: 100%;
    text-align: center;
    line-height: 25px;
    margin: auto;
}